@CHARSET "UTF-8";

.ma-welcome {
    width: 375px;
    height: 603px;
    position: absolute;
    background-color: white;
}

.ma-logo {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: calc(-77px / 2);
    margin-left: calc(-95px / 2);
    width: 95px;
    height: 77px;
    background: url('/src/img/logo.svg') no-repeat;
    background-size: cover;
}

.ma-loading {
    position: absolute;
    width: 39px;
    height: 8px;
    top: 50%;
    left: 50%;
    margin-left: calc(-39px / 2);
}

.ma-loading-text {
    width: 8px;
    height: 8px;
    background-color: #4bd14d;
    margin-right: 5px;
    border-radius: 4px;
    float: left;
    -webkit-animation: ma-loading-animate 1.5s infinite;
    animation: ma-loading-animate 1.5s infinite;
}

#ma-loading-text2 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

#ma-loading-text3 {
    -webkit-animation-delay: 0.50s;
    animation-delay: 0.50s;
}

@-webkit-keyframes ma-loading-animate {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

